textarea{
    width: 100%;
    background-color: #1e1e1e;
    font-size: 16px;
    border: none;
    color: #ffffff;
    font-family: 'DejaVu Sans Mono', monospace;
}
body{
    background-color: #333;
    font-size: 18px;
    font-family: 'Arial';
    color: #ffffff;
}
.accordion.active::before{
    content: '\25bc  '
}
.accordion:not(.active)::before{
    content: '\25b6  ';
}
.accordion::before{
    font-size: 12px;
}
.header{
    width: 100%;
    height: 40px;
    padding: none;
    font-size: 20px;
    margin-top: 0px;
}
.header-item {
    width: 200px;
    float: left;
    position: relative;
    padding: 5px;
    text-align: center;
}

.narrow-icon{
    width: 100px;
}
option[value=""][disabled] {
    display: none;
}
.linkless {
    color: white;
    text-decoration: none;
}
.linkless:hover {
    text-decoration: underline;
}
.large-text {
    font-size: 40px;
}
.wider-icon {
    width: 100px;
}
.size-12 {
    font-size: 16px !important;
}

.header-icon i {
    font-size: 40px;
}
@font-face {
    font-family: "DejaVu Sans Mono";
    src: url('DejaVuSansMono.ttf');
}
@media screen and (max-width: 886px){
    .large-text {
        font-size: 30px;
    }
    .wider-icon {
        width: 70px;
    }
    .header-icon i{
        font-size: 25px;
    }   
    .header-icon {
        width: 65px;
    }
}
@media screen and (max-width: 683px){
    .wider-icon {
        display: none;
    }
    .header-icon i{
        font-size: 20px;
    }   
    .header-icon {
        width: 50px;
    }
}
@media screen and (max-width: 526px){
    .header-icon {
        width: 40px;
    }
}
#invisible-block {
    display: none;
    height: 50px
}
@media screen and (max-width: 375px) { 
    .header {
        height: 75Hpx;
    }
}
@media screen and (max-width: 375px) and (min-width: 326px){
    #invisible-block {
        display: block;
    }
}